*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.resolucao{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: calc(50% - 25px);
  background-color: yellow;
}
:root {
  font-size: 62.5%;
  --branco: #fff;
  --cinza-claro: #efefef;
  --cinza: #98979c;
  --verde: #3ee287;
  --verde-escuro: #01ae80;
  --azul: #00095e;
  --azul-escuro: #020625;
}
body{
  background: var(--azul-escuro);
}
h1 {
  font-family: 'Exo';
  font-weight: 700;
  color: var(--branco);
  font-size: 5rem;
  margin-bottom: 1rem;
}
a{
  color: var(--branco);
  font-size: 2rem;
}
p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}
strong {
  font-weight: 700;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
}
.row{
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
}
.col-5{
  width: 41.66666666666667%;
}
.col-7{
  width: 58.33333333333333%;
}
.col-12{
  width: 100%;
}
.img-fluid{
  width: 100%;
}
.btn-mobile-menu{
  display:none;
}
.btn-verde{
  background-color: var(--verde-escuro);
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  display: inline-block;
}
.btn-verde:hover{
  transform: scale(0.98);
  filter: brightness(0.95);
}
header{
  position: fixed;
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  transition: 0.5s ;
}
header.ativo{
  background-color: var(--azul-escuro);
  transition: 0.5s ;
  padding: 1rem;
}
header .container .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav.menu-header ul{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}
header nav.menu-header ul li a{
  font-family: "Poppins";
  font-size: 2rem;
}
main{
  padding-top: 93px;
}
section.topo{
  background-image: url('../img/rainbow-girl.png');
  background-repeat: no-repeat;
  background-position: 200%;
  padding:5rem 0;
}
section.topo .col-6{
  width: 39%;
}
section.topo p{
  color: var(--branco);
}
section.quem-somos{
  background-color: var(--branco);
}
@media (max-width: 1400px) {
  .resolucao{
    background-color:yellowgreen;
  }
}
@media (max-width: 1200px) {
  .resolucao{
    background-color:violet;
  }
}
@media (max-width: 992px) {
  .resolucao{
    background-color:crimson;
  }
}
@media (max-width: 768px) {
  .resolucao{
    background-color: black;
  }
}
@media (max-width: 576px) {
  .resolucao{
    background-color:white;
  }
}
@media (max-width: 400px) {
  .resolucao{
    background-color:orange;
  }
}