:root {
  font-size: 62.5%;
  --branco: #fff;
  --cinza-claro: #efefef;
  --cinza: #98979c;
  --verde: #3ee287;
  --verde-escuro: #01ae80;
  --azul: #00095e;
  --azul-escuro: #020625;
}
h1 {
  font-family: 'Exo';
  font-weight: 700;
}
p {
  font-family: 'Poppins';
  font-weight: 400;
}
strong {
  font-weight: 700;
}
