.btn-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
header {
  position: fixed;
  width: 100%;
  padding: 3rem 0 1rem 0;
  transition: 0.5s ease-in-out;
  z-index: 10;
}
header.ativo {
  background-color: var(--azul-escuro);
  transition: 0.5s ease-in-out;
  padding: 1rem 0;
}
header nav.menu-header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}
header nav.menu-header ul li a {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 2rem;
}
section.topo {
  padding: 150px 0 0 0;
  background-image: url('../img/bg-gradient-blue.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 100% 100%;
}
section.topo p {
  color: var(--branco);
}
section.topo .btn-verde {
  margin-bottom: 5rem;
}
section.quem-somos {
  padding-top: 5rem;
  background-color: var(--branco);
}
section.quem-somos h1,
section.quem-somos p {
  color: var(--azul-escuro);
}
section.quem-somos h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 800;
}
section.quem-somos p {
  margin-bottom: 4rem;
}
section.portfolio {
  padding: 5rem 0;
  background: var(--verde-escuro);
  background-image: url('../img/bg-balls.png');
  background-repeat: repeat;
  background-size: 100% auto;
  animation: bubbles 60s linear 0s infinite;
}
section.portfolio h1,
section.portfolio h2 {
  text-align: center;
  color: var(--branco);
}
section.portfolio p.subtitulo,
section.portfolio p.destaque {
  text-align: center;
}
section.portfolio .box-cards {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem 3rem;
}
section.portfolio .box-cards .card-char {
  display: grid;
}
section.portfolio .box-cards .card-char h3 {
  font-size: 2.5rem;
}
section.portfolio .box-cards .card-char .imagem {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 330px;
  border: 5px solid var(--branco);
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, var(--branco), var(--cinza));
  margin-bottom: 1rem;
}
.card-char .imagem img {
  max-width: 100%;
  max-height: 100%;
}
.card-char {
  display: grid;
}
.card-char h3 {
  font-size: 2.5rem;
}
.card-char .imagem {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 330px;
  border: 5px solid var(--branco);
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, var(--branco), var(--cinza));
  margin-bottom: 1rem;
}
.card-char .imagem img {
  max-width: 100%;
  max-height: 100%;
}
section.portfolio p.destaque {
  font-size: 4rem;
  line-height: 1.2;
}
section.portfolio .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
section.portfolio .botoes a {
  padding: 1rem 10rem;
}
section.feedback {
  padding: 5rem 0;
}
section.feedback h1 {
  text-align: center;
  color: var(--branco);
}
section.feedback .box-comentarios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 5rem 0;
}
section.feedback .box-comentarios .comentario {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 380px;
  padding: 24px 40px 45px 60px;
  background: url('../img/bg-quote.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section.feedback .box-comentarios .comentario .topo {
  position: relative;
}
section.feedback .box-comentarios .comentario .topo::before {
  content: '';
  background-image: url('../img/sign-quotation-2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 15px;
  top: 7px;
  left: -35px;
}
section.feedback .box-comentarios .comentario .topo::after {
  content: '';
  background-image: url('../img/sign-quotation.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 15px;
  bottom: -20px;
  right: -10px;
}
section.feedback .box-comentarios .comentario hr {
  height: 1px;
}
section.feedback .box-comentarios .comentario p.corpo {
  font-size: 1.5rem;
  line-height: 1;
}
section.contato {
  padding: 5rem 0;
  background: var(--branco);
}
section.contato h1,
section.contato p.subtitulo {
  text-align: center;
  color: var(--azul-escuro);
}
section.contato p.subtitulo {
  margin-bottom: 3rem;
  line-height: 1.3;
}
section.contato form {
  display: grid;
  gap: 1rem;
}
section.contato form input,
section.contato form textarea {
  font-size: 2.3rem;
}
section.contato form button {
  font-size: 2rem;
  padding: 1rem 5rem;
  justify-self: end;
}
section.contato form textarea {
  height: 20rem;
}
section.whatsapp {
  padding-top: 5rem;
  background-color: var(--verde-escuro);
  background-image: url('../img/bg-balls.png');
  background-repeat: repeat;
  background-size: 100% auto;
  animation: bubbles 60s linear 0s infinite;
}
@keyframes bubbles {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1400px;
  }
}
section.whatsapp h1 {
  font-weight: 800;
  font-size: 6.5rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
section.whatsapp .btn-azul {
  font-size: 3.2rem;
  padding: 1.5rem 5rem;
  margin-bottom: 5rem;
}
footer {
  padding: 3rem 0;
  background: url('../img/bg-gradient-blue.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
footer .logo img {
  margin-bottom: 1rem;
}
footer p,
footer a {
  font-family: 'Poppins';
  font-weight: 400;
  color: var(--branco);
  font-size: 1.5rem;
}
footer ul.menu-contato li a {
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer nav.social-menu ul {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
}
footer .copyright {
  text-align: right;
}
section.obrigado {
  background: var(--verde-escuro);
  background-image: url('../img/bg-balls.png');
  background-repeat: repeat;
  background-size: 100% auto;
  animation: bubbles 60s linear 0s infinite;
  text-align: center;
  padding: 150px 0 2rem 0;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  header .btn-mobile-menu {
    display: flex;
  }
  header nav.menu-header {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    background-color: var(--azul-escuro);
    height: 0px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }
  header.ativo nav.menu-header {
    top: 76px;
  }
  header nav.menu-header ul {
    flex-direction: column;
    margin: 5rem 0;
    opacity: 0;
    transition: 0.5s;
  }
  header nav.menu-header ul li {
    text-align: center;
  }
  header nav.menu-header.active {
    height: calc(100vh - 70px);
  }
  header nav.menu-header.active ul {
    opacity: 1;
  }
  section.portfolio .box-cards {
    margin: 2rem 5rem;
  }
  section.feedback .box-comentarios .comentario {
    width: 360px;
  }
  section.whatsapp {
    text-align: center;
  }
  footer .logo {
    text-align: center;
  }
}
@media (max-width: 768px) {
  section.portfolio .box-cards .card-char .imagem {
    width: 250px;
    height: 280px;
  }
  section.portfolio .botoes {
    flex-wrap: wrap;
    gap: 2rem;
  }
  footer,
  footer .copyright {
    text-align: center;
  }
  footer ul {
    width: fit-content;
    margin: 1rem auto;
  }
}
@media (max-width: 576px) {
  section.quem-somos h1 {
    margin-bottom: 2rem;
  }
  section.quem-somos {
    text-align: right;
  }
  section.portfolio .box-cards {
    gap: 0;
  }
  section.portfolio p.destaque {
    font-size: 2.5rem;
  }
  section.feedback .box-comentarios {
    margin-top: 2rem;
  }
  section.whatsapp h1 {
    font-size: 4rem;
  }
  section.contato form input,
  section.contato form textarea {
    font-size: 1.9rem;
  }
  section.whatsapp .btn-azul {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
}
